.skill {
    &__title {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__title::after {
        content: "";
        display: block;
        width: 13rem;
        border: 0.2rem solid rgb(104, 6, 6);
    }

    &__block {
        display: flex;
        justify-content: flex-start;
        &--program {
            margin-right: 5rem;
            & > h2 {
                line-height: 1.7rem;
                font-weight: 400;
                font-family: "Times New Roman", Times, serif;
            }
            & > ul > li {
                font-size: 1.3rem;
                line-height: 2rem;
                font-family: "Times New Roman", Times, serif;
                font-weight: 200;
            }
        }
        &--nother {
            & > h2 {
                line-height: 1.7rem;
                font-weight: 400;

                font-family: "Times New Roman", Times, serif;
            }
            & > ul > li {
                font-size: 1.3rem;
                line-height: 2rem;
                font-family: "Times New Roman", Times, serif;
                font-weight: 200;
            }
        }
    }
}
