.Introduction {
    position: relative;
    color: rgb(104, 6, 6);

    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__information {
        &--img {
            width: auto;
            // padding-bottom: 1rem;
            & > img {
                width: 25%;
                border-radius: 50%;
                justify-content: center;
            }
        }
        &--skill {
            letter-spacing: 1ps;
            font-size: 1.2rem;
        }
        &--title {
            font-size: 3rem;
        }
        &--btn {
            position: relative;
            margin: 0 auto;
            // background-color: rgb(238, 25, 25);
            // text-align: center;
            height: 3rem;
            width: 11rem;
            border-radius: 1rem;
            // justify-content: center;
            display: flex;
            justify-content: space-around;
            & > p {
                display: block;
                width: 5rem;
                display: inline;
            }
            & > svg {
                display: block;
                width: 2rem;
                height: 2.5rem;
                text-align: center;
                font-weight: 300;
            }
        }
    }
}
