.demoProject {
    &__title {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__title::after {
        content: "";
        display: block;
        width: 13rem;
        border: 0.2rem solid rgb(104, 6, 6);
    }
}
