.Knowledge {
    &__title {
        // color: #299672;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__title::after {
        content: "";
        display: block;
        // height: 0.3rem;
        width: 6.5rem;
        border: 0.2rem solid rgb(104, 6, 6);
    }
    & > h4 {
        font-size: 1.3rem;
        line-height: 2rem;
        font-family: "Times New Roman", Times, serif;
        font-weight: 200;
    }
}
