.IntroductionMySelf {
    display: flex;
    // justify-content: space-between;
    // text-align: center;
    flex-direction: column;

    margin-top: 1rem;
    width: 15rem;
    // padding: 0;
    &__img {
        // display: block;
        $img_size: 15rem;
        width: $img_size;
        height: $img_size;

        border-radius: 50%;
    }
    &__paragraph {
        text-align: center;
        width: 15rem;
        padding-top: 0.5rem;
        letter-spacing: 0.1rem;
        font-size: 1.3rem;
        line-height: 2rem;

        // color: rgb(41, 150, 114);
        font-family: "Times New Roman", Times, serif;
        font-weight: 200;
        font-weight: 350;
    }
}
